<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="~/Image/LOGOWEB.png">
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/Homepage.css">
    @await RenderSectionAsync("css", required: false)

</head>

<body>
    <header>
        <div class="logo">
            <div class="">
                <div class="marquee-container">
                    <marquee behavior="scroll" direction="left" loop="infinite" scrollamount="13" scrolldelay="100">
                        Nguyễn Diên Tiến - Võ Nguyễn Cường
                    </marquee>
                </div>
            </div>
        </div>
        <ul class="menu">
            <li><a href="">Hotline tư vấn: 0999.999.999 </a>
        </ul>
    </header>
    <div class="hapodigital-header">
        <div class="logo">
            <img src="~/Image/LOGOMain.png" alt="">
        </div>
        <nav class="navigation-menu">
            <ul>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Homepage">Trang chủ</a>
                </li>
                <li>
                    <a asp-controller="Employees" asp-action="Index">Quản lý hồ sơ nhân viên</a>
                </li>
                <li>
                    <a asp-controller="Employees" asp-action="SalaryDetails">Tính lương</a>
                </li>
                <partial name="_LoginPartical" />

            </ul>
        </nav>
    </div>

    @RenderBody()

    @* <footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2024 - MVCdemo - <a asp-area="" asp-controller="Home" asp-action="Homepage">Homepage</a>
    </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/index.js"></script>
    @* <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"
    integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script> *@
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>