@using MVCdemo.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> signInManager
@inject UserManager<AppUser> UserManager


<style>
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropbtn {
        border: 1px solid white;
        background-color: white;
        padding: 8px;
    }

    .dropdown:hover .dropbtn {
        border-bottom: 4px solid red;
    }
</style>
<ul class="navigation-menu">
    @if (signInManager.IsSignedIn(User))
    {
        <li class="dropdown">
            <button class="dropbtn" style="    margin-top: -7px;
    font-size: 18px;
    color: fuchsia;
    border-bottom: 2px solid;">Xin chào @User.Identity!.Name</button>
            <div class="dropdown-content">
                <a asp-controller="Account" asp-action="LogOut">Đăng xuất</a>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-controller="Account" asp-action="LogIn"
                style="margin-top: -7px;background:#0b57d0;border-radius:12px;color:whrite">Đăng nhập</a>
        </li>
    }
</ul>