@{
    ViewData["Title"] = "Home Page";

}
@section css {
    <link rel="stylesheet" href="~/css/Homepage.css">
}

<div class="slide-show">
    <div class="list-images">
        <img src="~/Image/1.webp" alt="">
        <img src="~/Image/2.jpg" alt="">
        <img src="~/Image/3.jpg" alt="">
        <img src="~/Image/4.jpg" alt="">
    </div>
    <div class="btns">
        <div class="btn-left btn"><i class='bx bx-chevron-left'></i></div>
        <div class="btn-right btn"><i class='bx bx-chevron-right'></i></div>
    </div>

    <div class="index-image">
        <div class="index-item index-item-0 active"></div>
        <div class="index-item index-item-1"></div>
        <div class="index-item index-item-2"></div>
        <div class="index-item index-item-3"></div>
    </div>
</div>
<section class="slider-product-one">
    <div class="container">
        <div class="slider-product-one-content">
            <div class="slider-product-one-content-title">
                <h2> Cơ cấu tổ chức </h2>
                <br>
            </div>
            <div class="slider-product-one-content-items">
                <div class="slider-product-one-content-item" id="div1">
                    <img src="~/Image/1.1.jpg" alt="">
                    <div class="slider-product-one-content-text">
                        <br>
                        <br>
                        <br>
                        <li><b>Quản trị nhân sự</b></li>
                        <li><b>Nghiệp vụ</b></li>
                    </div>
                </div>
                <div class="slider-product-one-content-item" id="div2">
                    <img src="~/Image/2.1.jpg" alt="">
                    <div class="slider-product-one-content-text">

                        <li><b>Quản lý từng chức vụ trong công ty</b></li>
                        <li><b>Cấp bậc</b></li>
                    </div>
                </div>
                <div class="slider-product-one-content-item" id="div3">
                    <img src="~/Image/3.1.png" alt="">
                    <div class="slider-product-one-content-text">

                        <li><b>Quy trình chấm công</b></li>
                        <li><b>Quy định</b></li>
                    </div>
                </div>
                <div class="slider-product-one-content-item" id="div4">
                    <img src="~/Image/5.1.jpg" alt="">
                    <div class="slider-product-one-content-text">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <li><b>Quyền lợi thành viên</b></li>
                        <li><b>Lương thưởng</b></li>
                    </div>
                </div>
                <div class="slider-product-one-content-item" id="div5">
                    <img src="~/Image/cal.jpg" alt="">
                    <div class="slider-product-one-content-text">

                        <li><b>CEO : Võ Nguễn Cường</b>
                        </li>
                        <li><b>SĐT : 0999 999 123</b></li>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="~/js/select.js"></script>
</section>
<div>
    <img class="w-100" style="width: 100%;" src="~/Image/seasion.png" alt="">
</div>
<br>
<div>
    <img class="w-100" style="width: 100%;" src="~/Image/benefit2.png" alt="">
</div>
<div class="container my-5">
    <!-- Footer -->
    <footer class="footer" style="background-color: #929fba">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Links -->
            <section class="footer-right">
                <!--Grid row-->
                <div class="footer-right-1">
                    <!-- Grid column -->
                    <div class="col-md-3">
                        <h3 class="text-uppercase mb-4 font-weight-bold">
                            HUMANIZEDHUB
                        </h3>
                        <p>
                            Chúng tôi cam kết mang đến cho bạn những giải pháp quản lý nhân sự toàn diện và hiệu quả
                            nhất. HUMANIZEDHUB luôn đặt trải nghiệm người dùng lên hàng đầu và cam kết bảo mật thông tin
                            tuyệt đối, để bạn có thể yên tâm triển khai các chiến lược nhân sự một cách hiệu quả. Hãy để
                            HUMANIZEDHUB đồng hành cùng bạn trong hành trình phát triển doanh nghiệp.
                        </p>
                    </div>
                    <!-- Grid column -->


                    <!-- Grid column -->
                    <div class="col-md-2">
                        <h3 class="text-uppercase mb-4 font-weight-bold">Products</h3>
                        <p>
                            <a class="text-white text-uppercase" style="background-color: #929fba">Quản lý nhân viên</a>
                        </p>
                        <p>
                            <a class="text-white text-uppercase" style="background-color: #929fba">Chấm công</a>
                        </p>
                        <p>
                            <a class="text-white text-uppercase" style="background-color: #929fba">Tính lương</a>
                        </p>

                    </div>
                    <!-- Grid column -->



                    <!-- Grid column -->
                    <div class="col-md-4">
                        <h3 class="text-uppercase mb-4 font-weight-bold">Contact</h3>
                        <p><i class="fas fa-home mr-3"></i> VietName, QN 92maidinh, VN</p>
                        <p><i class="fas fa-envelope mr-3"></i> doancoso1k23@gmail.com</p>
                        <p><i class="fas fa-phone mr-3"></i> + 09 999 999 123 (Founder)</p>
                        <p><i class="fas fa-print mr-3"></i> + 09 876 543 21 (Secretary)</p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3_icon">
                        <h3 class="text-uppercase mb-4 font-weight-bold">Follow us</h3>

                        <!-- Facebook -->

                        <a style="font-size: 30px;color:#0e55ad" href="https://www.facebook.com/"><i
                                class="fa-brands fa-facebook"></i></a>


                        <!-- Twitter -->
                        <a style="font-size: 30px;color:black;" href="https://twitter.com/?lang=en"><i
                                class="fa-brands fa-twitter"></i></a>


                        <!-- Google -->
                        <a style="font-size: 30px;color:blue;" href="https://www.google.com/"><i
                                class="fa-brands fa-google"></i></a>
                        <br>
                        <!-- Instagram -->
                        <a style="font-size: 30px;color:#c91bc0" href="https://www.instagram.com/"><i
                                class="fa-brands fa-instagram"></i></a>

                        <!-- Linkedin -->
                        <a style="font-size: 30px;color:#0a0a0a" href="https://vn.linkedin.com/"><i
                                class="fa-brands fa-linkedin"></i>
                        </a>

                        <!-- Github -->

                        <a style="font-size: 30px;" href="https://github.com/"><i class="fa-brands fa-github"></i></a>
                    </div>
                </div>
                <!--Grid row-->
            </section>
            <!-- Section: Links -->
        </div>
        <!-- Grid container -->
    </footer>
    <div class="footer-left" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2024 Copyright:Cuong23CE009 - Tien23CE079
        <a class="text-white" href="Manage.html">HUMANIZEDHUB.com</a>
    </div>
</div>