@{
    ViewData["Title"] = "Home Page";
}

<div class="slide-show">
    <div class="list-images">
        <img src="~/Image/1.webp" alt="">
        <img src="~/Image/2.jpg" alt="">
        <img src="~/Image/3.jpg" alt="">
        <img src="~/Image/4.jpg" alt="">
    </div>
    <div class="btns">
        <div class="btn-left btn"><i class='bx bx-chevron-left'></i></div>
        <div class="btn-right btn"><i class='bx bx-chevron-right'></i></div>
    </div>

    <div class="index-image">
        <div class="index-item index-item-0 active"></div>
        <div class="index-item index-item-1"></div>
        <div class="index-item index-item-2"></div>
        <div class="index-item index-item-3"></div>
    </div>
</div>
<section class="slider-product-one">
    <div class="container">
        <div class="slider-product-one-content">
            <div class="slider-product-one-content-title">
                <h2> Cơ cấu tổ chức </h2>
                <br>
            </div>
            <div class="slider-product-one-content-items">
                <div class="slider-product-one-content-item" id="div1">
                    <img src="~/Image/1.1.jpg" alt="">
                    <div class="slider-product-one-content-text">
                        <br>
                        <br>
                        <br>
                        <li><b>Hiệu quả , chuyên nghiệp</b></li>
                        <li>Đa cấp</li>
                    </div>
                </div>
                <div class="slider-product-one-content-item" id="div2">
                    <img src="~/Image/2.1.jpg" alt="">
                    <div class="slider-product-one-content-text">

                        <li>Quản lý từng chức vụ trong công ty</li>
                        <li>Đa cấp</li>
                    </div>
                </div>
                <div class="slider-product-one-content-item" id="div3">
                    <img src="~/Image/3.1.png" alt="">
                    <div class="slider-product-one-content-text">

                        <li>Chấm công</li>
                        <li>Đa cấp</li>
                    </div>
                </div>
                <div class="slider-product-one-content-item" id="div4">
                    <img src="Image/5.1.jpg" alt="">
                    <div class="slider-product-one-content-text">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <li>Quyền lợi</li>
                        <li>Đa cấp</li>
                    </div>
                </div>
                <div class="slider-product-one-content-item" id="div5">
                    <img src="~/Image/cal.jpg" alt="">
                    <div class="slider-product-one-content-text">

                        <li>CEO : Võ Nguễn Cường
                        </li>
                        <li>SĐT : 0999 999 123</li>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="~/js/select.js"></script>
</section>