.wrapper {
    display: block;
    margin: 0 5%;
    background-color: blanchedalmond;
    border-radius: 8px;
}
h1 {
    width: 400px;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 45px;
    border-bottom: 2px solid red;
    padding: 24px 0;
}
.body {
    margin-top: 50px;
    display: flex;
}

.left-img {
    padding: 24px;
    height: 300px;
}

    .left-img > img {
        width: 230px;
        height: 270px;
        padding: 24px;
    }

.right-info {
    width: 100%;
    padding: 24px;
}

.info-group {
    display: flex;
    padding: 8px;
    font-size: 24px;
}

.info-group-link {
    display: flex;
    justify-content: space-evenly;
}

    .info-group-link > a {
        display: block;
        padding: 8px 12px;
        text-decoration: none;
        font-size: 24px;
        background-color: aqua;
        margin: 12px;
        border-radius: 4px;
        margin-left:60px;
    }
        .info-group-link > a:hover {
            background-color: #0b57d0;
        }

